<hr>
<h3>Tables:</h3>
<table>
      <tr>
        <th>table</th>
        <th>description</th>
        <th>details</th>
      </tr>
  <% @tables_and_views[:tables].each_pair do |name,description| %>
    <tr>
      <td><%= link_to(name.to_s,File.join(root_path,name.to_s)) %></td>
      <td><%= description %></td>
      <td><%= link_to('details',File.join(root_path,name.to_s,'apidoc')) %></td>
    </tr>
  <% end %>
</table>

<h3>Views:</h3>
<table>
      <tr>
        <th>view</th>
        <th>description</th>
        <th>details</th>
      </tr>
  <% @tables_and_views[:views].each_pair do |name,description| %>
    <tr>
      <td><%= link_to(name.to_s,File.join(root_path,name.to_s)) %></td>
      <td><%= description %></td>
      <td><%= link_to('details',File.join(root_path,name.to_s,'apidoc')) %></td>
    </tr>
  <% end %>
</table>
