<h1>Listing digital_objects</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @digital_objects.each do |digital_object| %>
      <tr>
        <td><%= digital_object.digital_object_id %></td>
        <td><%= digital_object.home_repository %></td>
        <td><%= link_to 'Show', digital_object %></td>
        <td><%= link_to 'Edit', edit_digital_object_path(digital_object) %></td>
        <td><%= link_to 'Destroy', digital_object, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Digital object', new_digital_object_path %>
