<p id="notice"><%= notice %></p>
<%= :digital_object_id %> <%=@digital_object.digital_object_id %>

<%= link_to 'Edit', edit_digital_object_path(@digital_object) %> |
<%= link_to 'Back', digital_objects_path %>
